<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luyy.photoview" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <application>
        <activity android:name=".PhotoPickerActivity"></activity>
    </application>
</manifest>
